<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
<head>
<title th:text="#{people.list.title}"></title>


<!-- 
<script
    th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"
    src=""></script>
 -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css">

<link
    rel="stylesheet"
    th:href="@{/jqgrid/css/ui.jqgrid-bootstrap4.css}" />


<!-- 
<script
    th:src="@{/jqgrid/js/i18n/grid.locale-en.js}"
    src=""></script>
 -->
<script
    th:src="@{'/jqgrid/js/i18n/grid.locale-'+${#locale}+'.js'}"
    src=""></script>

<script
    th:src="@{/jqgrid/js/jquery.jqGrid.min.js}"
    src=""></script>


<script
    th:src="@{/d3/d3.min.js}"
    src=""></script>

<link
    th:href="@{/d3/nv.d3.css}"
    rel="stylesheet">


<script
    th:src="@{/d3/nv.d3.js}"
    src=""></script>

<style >



#chart1 svg {
  height: 400px;
}

#chart2 svg {
  height: 400px;
}

#chart3 svg {
  height: 400px;
}

#chart4 svg {
  height: 400px;
}
#chart5 svg {
  height: 400px;
}
#chart6 svg {
  height: 400px;
}
.ui-datepicker-calendar {
    display: none;
    }




</style>

</head>
<body>





    <div layout:fragment="content">



           <h1
            class="mt-5"
            th:text="#{people.list.title}"></h1>
            
       <!--     <button id="update">Refresh Page</button> -->
            
            
            
                <div class="form-group row">
                     <label  
                        class="col-sm-3 col-form-label font-weight-bold"
                        for="statisticDate" >Choose the month:</label>
                     <input
                        type="text"
                        class="col-sm-9 col-form-label"
                        id="statisticDate"/>
                </div>
            
      
            
           
            
            
                <div class="card">
                
                   <div class="card-header">
                            <h3
                                class="card-title"
                                th:text="#{statistics.bar.title}"></h3>
                        </div>
                        <div class="card-body">
                        
                             <div id="chart1">
                                <svg></svg>
                            </div>
                        
                        </div>
                    </div>            
              <h1 class="mt-1"></h1>
                <div class="card">
                
                   <div class="card-header">
                            <h3
                                class="card-title"
                                th:text="#{statistics.bar.income.title}"></h3>
                        </div>
                        <div class="card-body">
                        
                            <div id="chart2">
                                <svg></svg>
                            </div>
                        
                        </div>
                    </div>
                    
                              <h1 class="mt-1"></h1>
                <div class="card">
                
                   <div class="card-header">
                            <h3
                                class="card-title"
                                th:text="#{statistics.bar.expense.title}"></h3>
                        </div>
                        <div class="card-body">
                        
                            <div id="chart4">
                                <svg></svg>
                            </div>
                        
                        </div>
                    </div> 
                    
                    
                 <h1 class="mt-1"></h1>
                <div class="card">
                
                   <div class="card-header">
                            <h3
                                class="card-title"
                                th:text="#{statistics.bar.title}"></h3>
                        </div>
                        <div class="card-body">
                        
                            <div id="chart5">
                                <svg></svg>
                            </div>
                        
                        </div>
                    </div>    
                    
                    
                 <h1 class="mt-1"></h1>
                <div class="card">
                
                   <div class="card-header">
                            <h3
                                class="card-title"
                                th:text="#{statistics.bar.title}"></h3>
                        </div>
                        <div class="card-body">
                        
                            <div id="chart6">
                                <svg></svg>
                            </div>
                        
                        </div>
                    </div>                                         

        <div class="form-group">
        
     
      
        
        
        
             
        <div id="chart3">
            <svg></svg>
        </div>
        
        
            ------------------------------------------------------------------------------------------------------------------
            <label
                for="searchName"
                th:text="#{people.list.search.filter.name}">searchName</label>

            <input
                id="searchName"
                type="text"
                name="searchName"
                class="form-control"
                th:placeholder="#{people.list.search.filter.name.placeholder}" />
        </div>

        <div class="form-group">
            <label
                for="searchLastName"
                th:text="#{people.list.search.filter.lastName}">searchIdentification</label>

            <input
                id="searchLastName"
                type="text"
                name="searchLastName"
                class="form-control"
                th:placeholder="#{people.list.search.filter.lastName.placeholder}" />


        </div>
        <input
            id=submitButton
            class="btn btn-primary"
            name="_eventId_search"
            type="submit"
            th:value="#{identificationType.list.search.button}"></input>

        <div>
            <!--     Name
            <br>
            <input
                type="text"
                id="searchName"
                name="searchName" />  -->

            <!--   LastName
            <br>
            <input
                type="text"
                id="searchLastName"
                name="searchLastName" />  -->
            <!--      <button
                onclick="gridReload()"
                id="submitButton"
                style="margin-left: 30px;">Search</button>    -->

            <!-- <button
                id="submitButton"
                style="margin-left: 30px;">Search</button>  -->
        </div>
        <h2
            class="mt-5"
            th:text="#{identificationType.list.search.result.title}"></h2>


        <form
            action="#"
            th:action="${flowExecutionUrl}"
            method="post">
            <input
                id="addPeople"
                class="btn btn-primary"
                name="_eventId_add"
                type="submit"
                th:value="#{people.list.add.button}"></input>

        </form>

        <div
            class="mt-5"
            th:if="${#lists.isEmpty(peoples)}">
            <div
                class="alert alert-warning"
                role="alert">
                <p th:text="#{identificationType.list.search.empty.results}"></p>
            </div>
        </div>

        <hr />
        <div class="mt-5">
            <table id="list">
            </table>
            <div id="pager"></div>
        </div>

        <script
            type="text/javascript"
            th:inline="javascript">
									$.jgrid.defaults.styleUI = 'Bootstrap4';
									//$.jgrid.defaults.iconSet = 'Octicons';
									$.jgrid.defaults.iconSet = "fontAwesome";
									$.jgrid.defaults.width = 'auto';
									$.jgrid.defaults.responsive = true;

									var language = '[(${#locale})]';
									/*
									 $.jgrid.setRegional('grid', {
									 regional : 'es'
									 });
									 */
									/*	$.jgrid.setRegional('jqGrid', {
											regional : language
										});*/

									var urlList = '[(@{/people/listGridBynameAndLastName})]';
									var tableId = '[(#{people.list.search.table.id})]';
									var tableActions = '[(#{people.list.search.table.actions})]';
									var tableName = '[(#{people.list.search.table.name})]';
									var tableLastName = '[(#{people.list.search.table.lastName})]';
									var tableEmail = '[(#{people.list.search.table.email})]';
									var tableBornDate = '[(#{people.list.search.table.bornDate})]';
									var tableIdentification = '[(#{people.list.search.table.identification})]';
									var tableIdentificationType = '[(#{people.list.search.table.identificationType})]';

									//var testEditTwo = '[[${flowExecutionUrl}]]';
									var testEditTwo = '[(${flowExecutionUrl})]';
									var testEditTwo = '[(@{"~"+${flowExecutionUrl}})] ';
									var editUrl = "[(@{'~'+${flowExecutionUrl}(_eventId=edit)})]";
									var deleteUrl = "[(@{'~'+${flowExecutionUrl}(_eventId=delete)})]";

									console.log("test:" + urlList);
									$(function() {
										$("#list")
												.jqGrid(
														{
															url : urlList,
															datatype : 'json',
															//regional : 'es',
															mtype : 'GET',
															colNames : [
																	tableActions,
																	tableName,
																	tableLastName,
																	tableEmail,
																	tableBornDate,
																	tableIdentification,
																	tableIdentificationType ],
															colModel : [
																	{
																		name : 'act',
																		index : 'act',
																		width : 70,
																		sortable : false
																	},
																	{
																		name : 'name',
																		index : 'name',
																		width : 100
																	},
																	{
																		name : 'lastName',
																		index : 'lastName',
																		width : 100
																	},
																	{
																		name : 'email',
																		index : 'email',
																		width : 150
																	},
																	{
																		name : 'bornDateString',
																		index : 'bornDate',
																		width : 65
																	},
																	{
																		name : 'identification',
																		index : 'identification',
																		width : 100
																	},
																	{
																		name : 'identificationType',
																		index : 'identificationType',
																		width : 100
																	}

															],
															jsonReader : {
																root : "peopleData",
																page : "currentPage",
																total : "totalPages",
																records : "totalRecords",
																repeatitems : false,
																id : "id"
															},
															//styleUI : 'Bootstrap',
															//guiStyle : "bootstrap4",
															//iconSet : "fontAwesome",
															pager : '#pager',
															rowNum : 10,
															rowList : [ 1, 10,
																	20, 30 ],
															sortname : 'name',
															sortorder : 'asc',
															viewrecords : true,
															gridview : true,
															width : 1100,
															//height : 200,
															//width : '800',
															//shrinkToFit : false,
															height : 'auto',
															//width : 500,
															//caption : '${labelContactList}',
															//onSelectRow : function(
															//		id) {
															//	document.location.href = "${showContactUrl}/"
															//			+ id;
															//},
															gridComplete : function() {
																var ids = jQuery(
																		"#list")
																		.jqGrid(
																				'getDataIDs');
																for (var i = 0; i < ids.length; i++) {
																	var cl = ids[i];
																	be = "<input style='height:22px;width:20px;' type='button' value='E' onclick=\"jQuery('#rowed2').editRow('"
																			+ cl
																			+ "');\"  />";
																	se = "<input style='height:22px;width:20px;' type='button' value='S' onclick=\"jQuery('#rowed2').saveRow('"
																			+ cl
																			+ "');\"  />";
																	ce = "<input style='height:22px;width:20px;' type='button' value='C' onclick=\"jQuery('#rowed2').restoreRow('"
																			+ cl
																			+ "');\" />";

																	editUrlWithParameters = editUrl
																			+ '&id='
																			+ cl;
																	deleteUrlWithParameters = deleteUrl
																			+ '&id='
																			+ cl;
																	//console.log(testEditThree);
																	testEdit = "<a href='"+editUrlWithParameters+"'><button type='button' class='btn btn-light' aria-label='Edit user'> <i class='fas fa-pencil-alt'></i> </button></a>";
																	testDelete = " <a href='"+deleteUrlWithParameters+"'><button type='button' class='btn btn-light' aria-label='Delete user'> <i class='fas fa-trash-alt'></i> </button></a>";

																	jQuery(
																			"#list")
																			.jqGrid(
																					'setRowData',
																					ids[i],
																					{
																						act : testEdit
																								+ testDelete
																					///+ ce
																					});
																}
															}

														});
										//$("#list").jqGrid("setFrozenColumns");
										jQuery("#list").jqGrid('navGrid',
												"#pager", {
													edit : false,
													add : false,
													del : false,
													search : false
												});

										function gridReload() {

											console
													.log("fffffffffffffffffffffffffffff----------------");
											var searchName = jQuery(
													"#searchName").val();
											var searchLastName = jQuery(
													"#searchLastName").val();
											jQuery("#list")
													.jqGrid(
															'setGridParam',
															{
																url : urlList
																		+ "?name="
																		+ searchName
																		+ "&lastName="
																		+ searchLastName,
																page : 1
															}).trigger(
															"reloadGrid");
										}
										var numeroDocumento = document
												.querySelector("#submitButton");

										numeroDocumento.addEventListener(
												'click', function(event) {
													return gridReload(event);
												});

									});
									/*
									 function gridReload() {
									 console
									 .log("tettttttttt----------------");
									 var nm_mask = jQuery("#item_nm").val();
									 var cd_mask = jQuery("#search_cd")
									 .val();
									 jQuery("#bigset").jqGrid(
									 'setGridParam',
									 {
									 url : "bigset.php?nm_mask="
									 + nm_mask
									 + "&cd_mask="
									 + cd_mask,
									 page : 1
									 }).trigger("reloadGrid");
									 }
									
									 */
								</script>



        <script>
									historicalBarChart = [ {
										key : "Cumulative Return",
										values : [ {
											"label" : "salary test fer",
											"value" : 2900.765957771107
										}, {
											"label" : "B",
											"value" : 0
										}, {
											"label" : "C",
											"value" : 32.807804682612
										}, {
											"label" : "D",
											"value" : 196.45946739256
										}, {
											"label" : "E",
											"value" : 0.19434030906893
										}, {
											"label" : "F",
											"value" : 98.079782601442
										}, {
											"label" : "G",
											"value" : 13.925743130903
										}, {
											"label" : "H",
											"value" : 5.1387322875705
										} ]
									} ];
                                    
                                    historicalBarChartTest = [ {
                                        key : "Cumulative Return",
                                        values : [ {
                                            "label" : "salary test fer",
                                            "value" : 2900.765957771107
                                        }, {
                                            "label" : "B",
                                            "value" : 0
                                        }, {
                                            "label" : "C",
                                            "value" : 32.807804682612
                                        }, {
                                            "label" : "D",
                                            "value" : 196.45946739256
                                        }, {
                                            "label" : "E",
                                            "value" : 0.19434030906893
                                        }, {
                                            "label" : "F",
                                            "value" : 98.079782601442
                                        }, {
                                            "label" : "G",
                                            "value" : 13.925743130903
                                        }, {
                                            "label" : "H",
                                            "value" : 5.1387322875705
                                        } ]
                                    } ];


                                    
                                    
                                    //var urlListtest = '[(@{/transactions/listGridD3})]';
                                    
                                    var urlListtest = '[(@{/transactions/listGridIncomeAndExpensesByDate})]';
                                    
                                    
                                    
                                    
                                    // Maintian an instance of the chart and 
                                    var chartFirst;
                                    
                                    // Maintain an Instance of the SVG selection with its data
                                    var chartDataFirst;
                                    
                                    d3.json(urlListtest, function (data) {
                                        console.log("fffffffffffffffffffffffffffffffffffffaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa");
                                        //console.log(historicalBarChart);
                                        historicalBarChart= data;
                                        // console.log(historicalBarChart);
                                        
                                        nv
                                            .addGraph(function() {
                                                chartFirst = nv.models
                                                        .discreteBarChart()
                                                        .x(function(d) {
                                                            return d.label
                                                        }).y(function(d) {
                                                            return d.value
                                                        }).staggerLabels(true)
                                                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                                                        
                                                        .showValues(true)
                                                        .color(['#18ce70', '#cc2c10', '#486192'])
                                                        .duration(250);
                                                        
                                                        
                                                        chartFirst.tooltip.enabled(false);

                                               chartDataFirst =  d3.select('#chart1 svg').datum(
                                                        historicalBarChart);
                                               chartDataFirst.call(chartFirst);

                                                nv.utils
                                                        .windowResize(chartFirst.update);
                                                return chartFirst;
                                            });
                                        
                                        
                                        
                                        
                                    });
                                    
                                    
                                    //var urlListIncome = '[(@{/transactions/listTransactionsByEntryType?entryType=CREDIT})]';
                                    
                                    var urlListIncome = '[(@{/transactions/listTransactionsByEntryTypeAndDate?entryType=CREDIT})]';
                                    
                                    
                                    
                                  // urlListIncome = urlListIncome+''?entryType=CREDIT';
                                    
                                    var chartIncome;
                                    
                                    // Maintain an Instance of the SVG selection with its data
                                    var chartDataIncome;
                                    
                                    d3.json(urlListIncome, function (data) {
                                        //console.log(historicalBarChart);
                                        historicalBarChartIncome= data;
                                        // console.log(historicalBarChart);
                                        
                                        nv
                                            .addGraph(function() {
                                         chartIncome = nv.models
                                                        .discreteBarChart()
                                                        .x(function(d) {
                                                            return d.label
                                                        }).y(function(d) {
                                                            return d.value
                                                        }).staggerLabels(true)
                                                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                                                        .showValues(true)
                                                        //.color(['#18ce70', '#cc2c10', '#486192'])
                                                        .duration(250);
                                             chartIncome.tooltip.enabled(false);

                                             chartDataIncome=   d3.select('#chart2 svg').datum(
                                                        historicalBarChartIncome);
                                             chartDataIncome.call(chartIncome);

                                                nv.utils
                                                        .windowResize(chartIncome.update);
                                                return chartIncome;
                                            });
                                        
                                    });
                                    
                                    
                                    
                                                   
                                    //var urlListExpense = '[(@{/transactions/listTransactionsByEntryType?entryType=DEBIT})]';
                                    var urlListExpense = '[(@{/transactions/listTransactionsByEntryTypeAndDate?entryType=DEBIT})]';
                                    
                                    var chartExpense;
                                    
                                    // Maintain an Instance of the SVG selection with its data
                                    var chartDataExpense;
                                    
                                    
                                    d3.json(urlListExpense, function (data) {
                                        //console.log(historicalBarChart);
                                        historicalBarChartExpense= data;
                                        // console.log(historicalBarChart);
                                        
                                        nv
                                            .addGraph(function() {
                                               chartExpense = nv.models
                                                        .discreteBarChart()
                                                        .x(function(d) {
                                                            return d.label
                                                        }).y(function(d) {
                                                            return d.value
                                                        }).staggerLabels(true)
                                                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                                                        .showValues(true)
                                                        //.color(['#18ce70', '#cc2c10', '#486192'])
                                                        .duration(250);

                                               chartExpense.tooltip.enabled(false);
                                               
                                               chartDataExpense= d3.select('#chart4 svg').datum(
                                                        historicalBarChartExpense);
                                               chartDataExpense.call(chartExpense);

                                                nv.utils
                                                        .windowResize(chartExpense.update);
                                                return chartExpense;
                                            });
                                        
                                    });
                                    
                                    
                                     var urlListExpenseByDay = '[(@{/transactions/listTransactionsByEntryTypeByDay?entryType=DEBIT})]';
                                    
                                    var chartExpenseByDay;
                                    
                                    // Maintain an Instance of the SVG selection with its data
                                    var chartDataExpenseByDay;
                                    
                                    
                                    d3.json(urlListExpenseByDay, function (data) {
                                        console.log(data);  
        
                                        var legendPosition = "top";
                                      
                                        var toggleLegend = function() {
                                            if (legendPosition == "top") {
                                                legendPosition = "bottom";
                                            } else {
                                                legendPosition = "top";
                                            }
                                            chartExpenseByDay.legendPosition(legendPosition);
                                            chartExpenseByDay.update();
                                        };
                                        nv.addGraph(function() {
                                            chartExpenseByDay = nv.models.lineChart()
                                                .useInteractiveGuideline(true)
                                                .options({
                                                    duration: 300,
                                                    useInteractiveGuideline: true,
                                                    showValues: true
                                                })
                                            ;
                                            // chart sub-models (ie. xAxis, yAxis, etc) when accessed directly, return themselves, not the parent chart, so need to chain separately
                                            chartExpenseByDay.xAxis
                                                .axisLabel("Day of the month")
                                                .tickFormat(d3.format(',.1f'))
                                                .staggerLabels(true)
                                            ;
                                            chartExpenseByDay.yAxis
                                                .axisLabel('Amount')
                                                .tickFormat(function(d) {
                                                    if (d == null) {
                                                        return 'N/A';
                                                    }
                                                    return d3.format(',.2f')(d);
                                                })
                                            ;
                                            //data = sinAndCos();
                                            console.log("*****************************")
                                            console.log(data);
                                            //chartDataExpenseByDay = d3.select('#chart6').append('svg').datum(data);
                                            chartDataExpenseByDay = d3.select('#chart6 svg').datum(data);
                                            chartDataExpenseByDay.call(chartExpenseByDay);
                                            nv.utils.windowResize(chartExpenseByDay.update);
                                            return chartExpenseByDay;
                                        });
                                       
                                        
                                    });
                                    
                                    
                                    var urlListtestPie = '[(@{/transactions/listGridD3Pie})]';
                                    
                                    
                                    d3.json(urlListtestPie, function (data) {
                                        console.log(data);
                                        
                                      
                                        //Donut chart example
                                        nv.addGraph(function() {
                                          var chart = nv.models.pieChart()
                                              .x(function(d) { return d.label })
                                              .y(function(d) { return d.value })
                                              .showLabels(true)     //Display pie labels
                                              .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                                              .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                                              .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                                              .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                                              .color(['#18ce70', '#cc2c10'])
                                              ;
                                        
                                            d3.select("#chart3 svg")
                                                .datum(data)
                                                .transition().duration(350)
                                                .call(chart);
                                        
                                          return chart;
                                        });
                                        
                                        
                                        
                                                                                
                                        
                                        //Pie chart example data. Note how there is only a single array of key-value pairs.
                                        function exampleData() {
                                          return  [
                                              { 
                                                "label": "One",
                                                "value" : 29.765957771107
                                              } , 
                                              { 
                                                "label": "Two",
                                                "value" : 0
                                              } , 
                                              { 
                                                "label": "Three",
                                                "value" : 32.807804682612
                                              } , 
                                              { 
                                                "label": "Four",
                                                "value" : 196.45946739256
                                              } , 
                                              { 
                                                "label": "Five",
                                                "value" : 0.19434030906893
                                              } , 
                                              { 
                                                "label": "Six",
                                                "value" : 98.079782601442
                                              } , 
                                              { 
                                                "label": "Seven",
                                                "value" : 13.925743130903
                                              } , 
                                              { 
                                                "label": "Eight",
                                                "value" : 5.1387322875705
                                              }
                                            ];
                                        }
                                    
                                    
                                    });
                                    
                                    
                                    
// GLOBAL LAND-OCEAN TEMPERATURE INDEX

var temperatureIndexJSON = [
  {
    key: "Temp +- Avg.",
    values: [
    {
        "x": 1998,
        "y": 0.45
    },
    {
        "x": 1999,
        "y": 0.48
    },
    {
        "x": 2000,
        "y": 0.5
    },
    {
        "x": 2001,
        "y": 0.52
    },
    {
        "x": 2002,
        "y": 0.55
    },
    {
        "x": 2003,
        "y": 0.58
    },
    {
        "x": 2004,
        "y": 0.6
    },
    {
        "x": 2005,
        "y": 0.61
    },
    {
        "x": 2006,
        "y": 0.61
    },
    {
        "x": 2007,
        "y": 0.61
    },
    {
        "x": 2008,
        "y": 0.62
    },
    {
        "x": 2009,
        "y": 0.62
    },
    {
        "x": 2010,
        "y": 0.62
    },
    {
        "x": 2011,
        "y": 0.63
    },
    {
        "x": 2012,
        "y": 0.67
    },
    {
        "x": 2013,
        "y": 0.71
    },
    {
        "x": 2014,
        "y": 0.77
    },
    {
        "x": 2015,
        "y": 0.83
    },
    {
        "x": 2016,
        "y": 0.89
    },
    {
        "x": 2017,
        "y": 0.95
    }
    ]
  }
];

        nv.addGraph(function () {
     var chart = nv.models.lineChart() // Initialise the lineChart object.
         .useInteractiveGuideline(true) // Turn on interactive guideline (tooltips) 
     ;
     chart.xAxis
         .axisLabel('TimeStamp (Year)') // Set the label of the xAxis (Vertical)
     ;
     chart.yAxis
         .axisLabel('Degrees (c)') // Set the label of the xAxis (Horizontal)
         .tickFormat(d3.format('.02f')) // Rounded Numbers Format.
     ;
     d3.select('#chart5 svg') // Select the ID of the html element we defined earlier.
         .datum(temperatureIndexJSON) // Pass in the JSON
         .transition().duration(500) // Set transition speed
         .call(chart) // Call & Render the chart
     ;
     nv.utils.windowResize(chart.update); // Intitiate listener for window resize so the chart responds and changes width.
     return;
 });
                                
   
    
    
            function update() {
            
            
            
                 var statisticDate = jQuery("#statisticDate").val();
                 
                 var urlBalanceWithParameters='';
                 var urlBalanceWithParameters = urlListtest+"?statisticDate="+ statisticDate;
                 
                 
                  d3.json(urlBalanceWithParameters, function (data) {
                       //var data = historicalBarChartTest;
            
                        // Update the SVG with the new data and call chart
                        chartDataFirst.datum(data).transition().duration(500).call(chartFirst);
                        nv.utils.windowResize(chartFirst.update);
                          
                   });
                   
                 var urlListIncomeWithParameters='';
                 var urlListIncomeWithParameters = urlListIncome+"&statisticDate="+ statisticDate;
                   
                   
                    d3.json(urlListIncomeWithParameters, function (data) {            
                        // Update the SVG with the new data and call chart
                        chartDataIncome.datum(data).transition().duration(500).call(chartFirst);
                        nv.utils.windowResize(chartIncome.update);
                          
                   });
                   
                   
                   
                                      
                 var urlListExpenseWithParameters='';
                 var urlListExpenseWithParameters = urlListExpense+"&statisticDate="+ statisticDate;
                   
                    d3.json(urlListExpenseWithParameters, function (data) {
                        chartDataExpense.datum(data).transition().duration(500).call(chartFirst);
                        nv.utils.windowResize(chartExpense.update);
                          
                   });
            
       
            };
            
            // Update the CHART
            d3.select("#update").on("click", update);
            
            
            
                                  $(function() {
                                        $('#statisticDate').datepicker({
                                            //dateFormat : 'dd-mm-yy',
                                            dateFormat : 'yy-mm',
                                            yearRange : '-120:+0',
                                            changeMonth : true,
                                            changeYear : true,
                                            //changeDay: false,
                                            showButtonPanel: true,
                                            onClose: function(dateText, inst) { 
                                                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                                                    update();
                                                }
                                            
                                        });
                                        //$("#datepicker").datepicker();

                                    });
            

									
								</script>


    </div>






</body>
</html>