<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
<head>
<title th:text="#{people.list.title}"></title>


<!-- 
<script
    th:src="@{/webjars/jquery/3.3.1-1/jquery.js}"
    src=""></script>
 -->
<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css">

<link
    rel="stylesheet"
    th:href="@{/jqgrid/css/ui.jqgrid-bootstrap4.css}" />


<!-- 
<script
    th:src="@{/jqgrid/js/i18n/grid.locale-en.js}"
    src=""></script>
 -->
<script
    th:src="@{'/jqgrid/js/i18n/grid.locale-'+${#locale}+'.js'}"
    src=""></script>

<script
    th:src="@{/jqgrid/js/jquery.jqGrid.min.js}"
    src=""></script>


<script
    th:src="@{/d3/d3.min.js}"
    src=""></script>

<link
    th:href="@{/d3/nv.d3.css}"
    rel="stylesheet">


<script
    th:src="@{/d3/nv.d3.js}"
    src=""></script>

<style >



#chart1 svg {
  height: 400px;
}

#chart2 svg {
  height: 400px;
}

#chart3 svg {
  height: 400px;
}

#chart4 svg {
  height: 400px;
}
#chart5 svg {
  height: 400px;
}
#chart6 svg {
  height: 400px;
}
.ui-datepicker-calendar {
    display: none;
    }




</style>

</head>
<body>





    <div layout:fragment="content"> 



           <h1
            class="mt-5"
            th:text="#{menu.statistics}"></h1>
   
                  
            
       <!--     <button id="update">Refresh Page</button> -->
            
            
            
                <div class="form-group row">
                     <label  
                        class="col-sm-3 col-form-label font-weight-bold"
                        for="statisticDate" >Choose the month:</label>
                     <input
                        type="text"
                        class="col-sm-9 col-form-label"
                        id="statisticDate"/>
                </div>
            
      
            
           
            
                <h1 class="mt-1"></h1>
            
                <div class="card">
                
                   <div class="card-header">
                            <h3
                                class="card-title"
                                th:text="#{statistics.bar.title}"></h3>
                        </div>
                        <div class="card-body">
                        
                            <div id="chart1">
                                <svg></svg>
                            </div>
                        
                        </div>
                 </div>  
             
                           
              <h1 class="mt-1"></h1>
                <div class="card">
                
                   <div class="card-header">
                            <h3
                                class="card-title"
                                th:text="#{statistics.bar.income.title}"></h3>
                        </div>
                        <div class="card-body">
                        
                            <div id="chart2">
                                <svg></svg>
                            </div>
                        
                        </div>
                    </div>
                    
                              <h1 class="mt-1"></h1>
                <div class="card">
                
                   <div class="card-header">
                            <h3
                                class="card-title"
                                th:text="#{statistics.bar.expense.title}"></h3>
                        </div>
                        <div class="card-body">
                        
                            <div id="chart4">
                                <svg></svg>
                            </div>
                        
                        </div>
                    </div> 
                        <h1 class="mt-1"></h1>  
                <div class="card">
                
                   <div class="card-header">
                            <h3
                                class="card-title"
                                th:text="#{statistics.bar.expense.by.day.title}"></h3>
                        </div>
                        <div class="card-body">
                        
                          <div id="chart6">
                                <svg></svg>
                            </div>
                        
                        </div>
                    </div>   
                 
                    
                    
                
        <script
            type="text/javascript"
            th:inline="javascript">
								
									var historicalBarChart;
                                    
                                    //var urlListtest = '[(@{/transactions/listGridD3})]';
                                    
                                    var urlListtest = '[(@{/transactions/listGridIncomeAndExpensesByDate})]';
                                    
                                    
                                    
                                    
                                    // Maintian an instance of the chart and 
                                    var chartFirst;
                                    
                                    // Maintain an Instance of the SVG selection with its data
                                    var chartDataFirst;
                                    
                                    d3.json(urlListtest, function (data) {
                                        //console.log(historicalBarChart);
                                        historicalBarChart= data;
                                        // console.log(historicalBarChart);
                                        
                                        nv
                                            .addGraph(function() {
                                                chartFirst = nv.models
                                                        .discreteBarChart()
                                                        .x(function(d) {
                                                            return d.label
                                                        }).y(function(d) {
                                                            return d.value
                                                        }).staggerLabels(true)
                                                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                                                        
                                                        .showValues(true)
                                                        .color(['#18ce70', '#cc2c10', '#486192'])
                                                        .duration(250);
                                                        
                                                        
                                                        chartFirst.tooltip.enabled(false);

                                               chartDataFirst =  d3.select('#chart1 svg').datum(
                                                        historicalBarChart);
                                               chartDataFirst.call(chartFirst);

                                                nv.utils
                                                        .windowResize(chartFirst.update);
                                                return chartFirst;
                                            });
                                        
                                        
                                        
                                        
                                    });
                                    
                                    
                                    //var urlListIncome = '[(@{/transactions/listTransactionsByEntryType?entryType=CREDIT})]';
                                    
                                    var urlListIncome = '[(@{/transactions/listTransactionsByEntryTypeAndDate?entryType=CREDIT})]';
                                    
                                    
                                    
                                  // urlListIncome = urlListIncome+''?entryType=CREDIT';
                                    
                                    var chartIncome;
                                    
                                    // Maintain an Instance of the SVG selection with its data
                                    var chartDataIncome;
                                    
                                    d3.json(urlListIncome, function (data) {
                                        //console.log(historicalBarChart);
                                        historicalBarChartIncome= data;
                                        // console.log(historicalBarChart);
                                        
                                        nv
                                            .addGraph(function() {
                                         chartIncome = nv.models
                                                        .discreteBarChart()
                                                        .x(function(d) {
                                                            return d.label
                                                        }).y(function(d) {
                                                            return d.value
                                                        }).staggerLabels(true)
                                                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                                                        .showValues(true)
                                                        //.color(['#18ce70', '#cc2c10', '#486192'])
                                                        .duration(250);
                                             chartIncome.tooltip.enabled(false);

                                             chartDataIncome=   d3.select('#chart2 svg').datum(
                                                        historicalBarChartIncome);
                                             chartDataIncome.call(chartIncome);

                                                nv.utils
                                                        .windowResize(chartIncome.update);
                                                return chartIncome;
                                            });
                                        
                                    });
                                    
                                    
                                    
                                                   
                                    //var urlListExpense = '[(@{/transactions/listTransactionsByEntryType?entryType=DEBIT})]';
                                    var urlListExpense = '[(@{/transactions/listTransactionsByEntryTypeAndDate?entryType=DEBIT})]';
                                    
                                    var chartExpense;
                                    
                                    // Maintain an Instance of the SVG selection with its data
                                    var chartDataExpense;
                                    
                                    
                                    d3.json(urlListExpense, function (data) {
                                        //console.log(historicalBarChart);
                                        historicalBarChartExpense= data;
                                        // console.log(historicalBarChart);
                                        
                                        nv
                                            .addGraph(function() {
                                               chartExpense = nv.models
                                                        .discreteBarChart()
                                                        .x(function(d) {
                                                            return d.label
                                                        }).y(function(d) {
                                                            return d.value
                                                        }).staggerLabels(true)
                                                        //.staggerLabels(historicalBarChart[0].values.length > 8)
                                                        .showValues(true)
                                                        //.color(['#18ce70', '#cc2c10', '#486192'])
                                                        .duration(250);

                                               chartExpense.tooltip.enabled(false);
                                               
                                               chartDataExpense= d3.select('#chart4 svg').datum(
                                                        historicalBarChartExpense);
                                               chartDataExpense.call(chartExpense);

                                                nv.utils
                                                        .windowResize(chartExpense.update);
                                                return chartExpense;
                                            });
                                        
                                    });
                                    
                                    
                                    var urlListExpenseByDay = '[(@{/transactions/listTransactionsByEntryTypeByDay?entryType=DEBIT})]';
                                    
                                    var chartExpenseByDay;
                                    
                                    // Maintain an Instance of the SVG selection with its data
                                    var chartDataExpenseByDay;
                                    
                                    
                                    d3.json(urlListExpenseByDay, function (data) {
                                        console.log(data);  
        
                                        var legendPosition = "top";
                                      
                                        var toggleLegend = function() {
                                            if (legendPosition == "top") {
                                                legendPosition = "bottom";
                                            } else {
                                                legendPosition = "top";
                                            }
                                            chartExpenseByDay.legendPosition(legendPosition);
                                            chartExpenseByDay.update();
                                        };
                                        nv.addGraph(function() {
                                            chartExpenseByDay = nv.models.lineChart()
                                            .useInteractiveGuideline(false)
                                            // .useInteractiveGuideline(true).margin({ // Add some CSS Margin to the chart.
                                            //        top: 30,
                                            //        right: 20,
                                            //        bottom: 50,
                                            //        left: 40
                                            //    })
                                                
                                             ;
                                              //.useInteractiveGuideline(true)
                                              //.options({
                                              //     duration: 300,
                                              //     useInteractiveGuideline: true,
                                              //     showValues: true
                                              //   })
                                           // ;
                                            // chart sub-models (ie. xAxis, yAxis, etc) when accessed directly, return themselves, not the parent chart, so need to chain separately
                                            chartExpenseByDay.xAxis
                                                .axisLabel("Day of the month")
                                                .tickFormat(d3.format(',.1f'))
                                                .staggerLabels(true)
                                            ;
                                            chartExpenseByDay.yAxis
                                                .axisLabel('Amount')
                                                .tickFormat(function(d) {
                                                    if (d == null) {
                                                        return 'N/A';
                                                    }
                                                    return d3.format(',.2f')(d);
                                                })
                                            ;
                                            //data = sinAndCos();
                                            console.log("*****************************")
                                            console.log(data);
                                            //chartDataExpenseByDay = d3.select('#chart6').append('svg').datum(data);
                                            chartDataExpenseByDay = d3.select('#chart6 svg').datum(data);
                                            chartDataExpenseByDay.call(chartExpenseByDay);
                                            nv.utils.windowResize(chartExpenseByDay.update);
                                            return chartExpenseByDay;
                                        });
                                       
                                        
                                    });
                                      
    
            function update() {
            
            
            
                 var statisticDate = jQuery("#statisticDate").val();
                 
                 var urlBalanceWithParameters='';
                 var urlBalanceWithParameters = urlListtest+"?statisticDate="+ statisticDate;
                 
                 
                  d3.json(urlBalanceWithParameters, function (data) {
                       //var data = historicalBarChartTest;
            
                        // Update the SVG with the new data and call chart
                        chartDataFirst.datum(data).transition().duration(500).call(chartFirst);
                        nv.utils.windowResize(chartFirst.update);
                          
                   });
                   
                 var urlListIncomeWithParameters='';
                 var urlListIncomeWithParameters = urlListIncome+"&statisticDate="+ statisticDate;
                   
                   
                    d3.json(urlListIncomeWithParameters, function (data) {            
                        // Update the SVG with the new data and call chart
                        chartDataIncome.datum(data).transition().duration(500).call(chartFirst);
                        nv.utils.windowResize(chartIncome.update);
                          
                   });
                   
                   
                   
                                      
                 var urlListExpenseWithParameters='';
                 var urlListExpenseWithParameters = urlListExpense+"&statisticDate="+ statisticDate;
                   
                    d3.json(urlListExpenseWithParameters, function (data) {
                        chartDataExpense.datum(data).transition().duration(500).call(chartFirst);
                        nv.utils.windowResize(chartExpense.update);
                          
                   });
                   
                 var urlListExpenseByDayWithParameters='';
                 var urlListExpenseByDayWithParameters = urlListExpenseByDay+"&statisticDate="+ statisticDate;
                   
                    d3.json(urlListExpenseByDayWithParameters, function (data) {
                        chartDataExpenseByDay.datum(data).transition().duration(500).call(chartExpenseByDay);
                        nv.utils.windowResize(chartExpenseByDay.update);
                          
                   });
                   
            
       
            };
            
            // Update the CHART
            d3.select("#update").on("click", update);
            
            
            
                                  $(function() {
                                        $('#statisticDate').datepicker({
                                            //dateFormat : 'dd-mm-yy',
                                            dateFormat : 'yy-mm',
                                            yearRange : '-120:+0',
                                            changeMonth : true,
                                            changeYear : true,
                                            //changeDay: false,
                                            showButtonPanel: true,
                                            onClose: function(dateText, inst) { 
                                                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                                                    update();
                                                }
                                            
                                        });
                                        //$("#datepicker").datepicker();

                                    });									
								</script>


 

</div>




</body>
</html>