<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title th:text="#{identificationType.list.title}"></title>
</head>
<body>
	<div class="row" layout:fragment="content">
		<form action="#" th:action="@{/identificationType/search}"
			method="post">
			<p>
				<!-- <input type="text" name="searchName" /> -->
				<label for="searchIdentification"
					th:text="#{identificationType.list.search.label}">searchIdentification</label>
				<input id="text" type="text" name="searchName" />
			</p>
			<!-- <input type="submit" value="Search" /> -->
			<input type="submit"
				th:value="#{identificationType.list.search.button}" />
		</form>
		<div th:unless="${#lists.isEmpty(identificationsType)}">
			<table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Mnmonic</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="identification, iStat : ${identificationsType}"
						th:style="${iStat.odd}? 'font-weight: bold;'"
						th:alt-title="${iStat.even}? 'even' : 'odd'">
						<td th:text="${identification.id}" />
						<td th:text="${identification.name}" />
						<td th:text="${identification.mnemonic}" />
						<td th:text="${identification.description}" />
					</tr>
				</tbody>
			</table>
		</div>
		<p>Hecthor Ortega</p>

	</div>
</body>
</html>