<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title th:text="#{identificationType.list.title}"></title>
</head>
<body>
	<div layout:fragment="content">
		<h1 class="mt-5" th:text="#{identificationType.add.title}"></h1>

	<!-- 		
		<form action="#"
			th:action="@{/identificationType/saveIdentificationType}"
			th:object="${identificationType}" method="post">   -->
			
			<!-- th:action="@{/identificationType/showFormForAdd}" -->
			
	<form action="#"
			th:object="${identificationType}" method="post">   			
<!-- 
		<form action="#" th:object="${identificationType}" method="post">
		-->
		
		<!--	
		<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />  -->

			<!-- keep track of the id that is being updated -->
			<!-- <input type="hidden" th:field="*{id}" /> -->
			
			<div class="form-group">
				<label for="name">Name:</label> <input type="text"
					th:field="*{name}" class="form-control" id="name"
					placeholder="Enter name" />
				<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
					Error</p>

			</div>
			<div class="form-group">
				<label for="mnemonic">Mnemonic:</label> <input type="text"
					th:field="*{mnemonic}" class="form-control" id="mnemonic"
					placeholder="Enter mnemonic" />
				<p th:if="${#fields.hasErrors('mnemonic')}" th:errors="*{mnemonic}">mnemonic
					Error</p>

			</div>
			<div class="form-group">

				<label for="description">Description:</label> <input type="text"
					th:field="*{description}" class="form-control" id="description"
					placeholder="Enter description" />
					<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">mnemonic
					Error</p>
					
			</div>
							
			<input id="addIdentificationType" class="btn btn-primary"
				name="_eventId_save" type="submit"
				th:value="#{identificationType.add.save.button}"></input>	
				
			<input id="addIdentificationType" class="btn btn-secondary"
				name="_eventId_cancel" type="submit"
				th:value="#{identificationType.add.cancel.button}"></input>

		</form>
	</div>
</body>
</html>