<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/defaultLogin}">
<head>
<meta charset="utf-8">
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta
    name="description"
    content="">
<meta
    name="author"
    content="">
<link
    rel="icon"
    href="../../../../favicon.ico">

<title>Sign in</title>




</head>
<div layout:fragment="content">




    <form
        class="form-signin"
        th:action="@{/login}"
        method="post">

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div
            id="errorMessage"
            class="alert alert-danger"
            role="alert"
            th:if="${param.error}">
            <span class="card-title">Invalid user name or password</span>
        </div>

        <div
            id="errorMessage"
            class="alert alert-secondary"
            role="alert"
            th:if="${param.logout}">
            <span class="card-title">You have successfully been logged out.</span>
        </div>


        <label
            for="username"
            class="sr-only">Username</label>
        <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            placeholder="Username"
            required
            autofocus>
        <label
            for="password"
            class="sr-only">Password</label>
        <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Password"
            required>
        <!-- <div class="checkbox mb-3">
            <label>
                <input
                    type="checkbox"
                    value="remember-me">
                Remember me
            </label>
        </div>
         -->


        <button
            class="btn btn-lg btn-primary btn-block"
            type="submit">Sign in</button>

<h3>
        <a
            class="mt-2 nav-link"
            href="#"
            th:href="@{/registerFlow}"
            th:text="#{menu.register.new.account}">people Botstrap ok</a>
</h3>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>

    <!--                <li class="nav-item">
                        <a
                            class="nav-link"
                            href="#"
                            th:href="@{/peopleTestBootstrap}"
                            th:text="#{menu.register.new.account}">people Botstrap ok</a>
                    </li>
 -->
</div>
</html>
