<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
<head>
<title th:text="#{people.edit.title}"></title>
</head>
<body>
    <div layout:fragment="content">


        <p class="mt-5"></p>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3
                        class="card-title"
                        th:text="#{people.edit.title}"></h3>
                </div>
                <div class="card-body">



                    <!--        
        <form action="#"
            th:action="@{/identificationType/saveIdentificationType}"
            th:object="${identificationType}" method="post">   -->

                    <!-- th:action="@{/identificationType/showFormForAdd}" -->

                    <form
                        action="#"
                        th:object="${people}"
                        th:action="${flowExecutionUrl}"
                        method="post"
                        autocomplete="off">
                        <!-- 
        <form action="#" th:object="${identificationType}" method="post">
        -->

                        <!--    es agregado automaticamente por thymeleaf
        <input type="hidden" name="${_csrf.parameterName}"
                value="${_csrf.token}" />  -->

                        <!-- keep track of the id that is being updated -->
                        <!-- <input type="hidden" th:field="*{id}" /> -->

                        <div class="form-group">

                            <label
                                for="name"
                                th:text="#{people.entity.name}">Name label:</label>
                            <input
                                type="text"
                                th:field="*{name}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                                id="name"
                                th:placeholder="#{people.entity.name.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}"
                                class="invalid-feedback">Name Error</p>

                        </div>
                        <div class="form-group">
                            <label
                                for="lastName"
                                th:text="#{people.entity.lastName}">Last Name label:</label>
                            <input
                                type="text"
                                th:field="*{lastName}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('lastName')} ? is-invalid"
                                id="mnemonic"
                                th:placeholder="#{people.entity.lastName.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('lastName')}"
                                th:errors="*{lastName}"
                                class="invalid-feedback">lastName Error</p>

                        </div>
                        <div class="form-group">
                            <label
                                for="email"
                                th:text="#{people.entity.email}">Email label:</label>
                            <input
                                type="text"
                                th:field="*{email}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('email')} ? is-invalid"
                                id="description"
                                th:placeholder="#{people.entity.email.placeholder}"  />
                            <p
                                th:if="${#fields.hasErrors('email')}"
                                th:errors="*{email}"
                                class="invalid-feedback">email Error</p>

                        </div>

                        <div
                            th:if="${#fields.hasErrors('global')}"
                            class="alert alert-danger"
                            role="alert">
                            <ul th:if="${#fields.hasErrors('global')}">
                                <li
                                    th:each="err : ${#fields.errors('global')}"
                                    th:text="${err}">Input is incorrect</li>
                            </ul>
                        </div>
                        <input
                            id="editPerson"
                            class="btn btn-primary"
                            name="_eventId_save"
                            type="submit"
                            th:value="#{people.edit.save.button}"></input>

                        <input
                            id="cancelEditPerson"
                            class="btn btn-dark"
                            name="_eventId_cancel"
                            type="submit"
                            th:value="#{people.edit.cancel.button}"></input>


                    </form>
                    <!--  <div th:errors="${identificationType.*}">...</div> -->


                </div>
            </div>
        </div>


    </div>
</body>
</html>