<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
<head>
<title th:text="#{people.list.title}"></title>


<link
    rel="stylesheet"
    th:href="@{/webjars/free-jqgrid/4.15.5/css/ui.jqgrid.min.css}" />


<script
    th:src="@{/webjars/free-jqgrid/4.15.5/js/i18n/min/grid.locale-en.js}"
    src=""></script>

<script
    th:src="@{/webjars/free-jqgrid/4.15.5/js/jquery.jqgrid.min.js}"
    src=""></script>

</head>
<body>
    <div layout:fragment="content">
        <h1
            class="mt-5"
            th:text="#{people.list.title}"></h1>
        <!-- You cand add the action attribute or you can skip it, If you skip it the browser will call the same url in the bar direction but in the case with a post method. -->
        <!-- th:action="@{/identificationType/list}" -->
        <form
            action="#"
            th:object="${searchIdentificationTypeForm}"
            method="post"
            autocomplete="off">

            <div class="form-group">
                <label
                    for="searchIdentification"
                    th:text="#{identificationType.list.search.label}">searchIdentification</label>


                <input
                    id="searchIdentification"
                    type="text"
                    th:field="*{name}"
                    name="searchName"
                    class="form-control"
                    th:placeholder="#{identificationType.list.search.input.placeholder}" />
            </div>
            <!-- 
			<input type="submit" class="btn btn-primary"
				th:value="#{identificationType.list.search.button}" />
				 -->

            <input
                id="newSearch"
                class="btn btn-primary"
                name="_eventId_search"
                type="submit"
                th:value="#{identificationType.list.search.button}"></input>
            <p>
                <!-- <input type="text" name="searchName" /> -->
                <!--	<label for="searchIdentification"
					th:text="#{identificationType.list.search.label}">searchIdentification</label>
				<input id="text" type="text" name="searchName" />  -->
            </p>
            <!-- <input type="submit" value="Search" /> -->
            <!--<input type="submit"
				th:value="#{identificationType.list.search.button}" />-->
        </form>

        <h2
            class="mt-5"
            th:text="#{identificationType.list.search.result.title}"></h2>

        <!-- 
		<form action="#" method="post"> -->

        <hr />

        <form
            action="#"
            method="post">
            <input
                id="addIdentificationType"
                class="btn btn-primary"
                name="_eventId_add"
                type="submit"
                th:value="#{identificationType.list.add.button}"></input>
        </form>

        <div
            class="mt-5"
            th:if="${#lists.isEmpty(identificationsType)}">
            <div
                class="alert alert-warning"
                role="alert">
                <p th:text="#{identificationType.list.search.empty.results}"></p>
            </div>
        </div>
        <div
            class="mt-5"
            th:unless="${#lists.isEmpty(identificationsType)}">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th
                            scope="col"
                            th:text="#{identificationType.list.search.table.id}"></th>
                        <th
                            scope="col"
                            th:text="#{identificationType.list.search.table.name}"></th>
                        <th
                            scope="col"
                            th:text="#{identificationType.list.search.table.mnemonic}"></th>
                        <th
                            scope="col"
                            th:text="#{identificationType.list.search.table.description}"></th>
                        <th
                            scope="col"
                            th:text="#{identificationType.list.search.table.edit}"></th>

                        <th
                            scope="col"
                            th:text="#{identificationType.list.search.table.delete}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="identification: ${identificationsType}">
                        <th scope="row"></th>
                        <td th:text="${identification.id}" />
                        <td th:text="${identification.name}" />
                        <td th:text="${identification.mnemonic}" />
                        <td th:text="${identification.description}" />



                        <td>
                            <!-- <a href="#" th:href="@{${flowExecutionUrl}(id=*{identification.id},_eventId='edit')}" >  -->
                            <a
                                href="#"
                                th:href="@{'~'+${flowExecutionUrl}(id=*{identification.id},_eventId=edit)}">
                                <button
                                    type="button"
                                    class="btn btn-light"
                                    aria-label="Edit user">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <a
                                href="#"
                                th:href="@{'~'+${flowExecutionUrl}(id=*{identification.id},_eventId=delete)}">
                                <button
                                    type="button"
                                    class="btn btn-light"
                                    aria-label="Delete user">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- </form>  -->
    </div>
</body>
</html>