<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
<head>
<title th:text="#{identificationType.add.title}"></title>
</head>
<body>
    <div layout:fragment="content">
        <!-- 
    Put Optional next to a label instead an asterisk in required field. Using optional it is more readable, an easy to understand to the user that is filling the form.
    https://blog.optimalworkshop.com/designing-form-fields-optional-versus-required
    https://uxdesign.cc/form-field-required-vs-optional-9b4d7cdbf400


 -->
        <p class="mt-5"></p>
        <!-- 		
		<form action="#"
			th:action="@{/identificationType/saveIdentificationType}"
			th:object="${identificationType}" method="post">   -->

        <!-- th:action="@{/identificationType/showFormForAdd}" -->
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3
                        class="card-title"
                        th:text="#{people.add.title}"></h3>
                </div>
                <div class="card-body">
                    <form
                        action="#"
                        th:object="${people}"
                        method="post"
                        autocomplete="off">
                        <!-- 
		<form action="#" th:object="${identificationType}" method="post">
		-->

                        <!--	
		<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" />  -->

                        <!-- keep track of the id that is being updated -->
                        <!-- <input type="hidden" th:field="*{id}" /> -->

                        <div class="form-group">
                            <label
                                for="name"
                                th:text="#{people.entity.name}">Name label::</label>
                            <input
                                type="text"
                                th:field="*{name}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                                id="name"
                                th:placeholder="#{people.entity.name.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}"
                                class="invalid-feedback">Name Error</p>

                        </div>
                        <div class="form-group">
                            <label
                                for="lastName"
                                th:text="#{people.entity.lastName}">Last Name label:</label>
                            <input
                                type="text"
                                th:field="*{lastName}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('lastName')} ? is-invalid"
                                id="lastName"
                                th:placeholder="#{people.entity.lastName.placeholder}"  />
                            <p
                                th:if="${#fields.hasErrors('lastName')}"
                                th:errors="*{lastName}"
                                class="invalid-feedback">lastName Error</p>

                        </div>
                        <div class="form-group">

                            <label
                                for="email"
                                th:text="#{people.entity.email}">Email label:</label>
                            <input
                                type="text"
                                th:field="*{email}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('email')} ? is-invalid"
                                id="email"
                                th:placeholder="#{people.entity.email.placeholder}"   />
                            <p
                                th:if="${#fields.hasErrors('email')}"
                                th:errors="*{email}"
                                class="invalid-feedback">email Error</p>


                        </div>

                        <input
                            id="addIdentificationType"
                            class="btn btn-primary"
                            name="_eventId_save"
                            type="submit"
                            th:value="#{people.add.save.button}"></input>
                        <input
                            id="addIdentificationType"
                            class="btn btn-dark"
                            name="_eventId_cancel"
                            type="submit"
                            th:value="#{people.add.cancel.button}"></input>

                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
</html>