<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
<head>
<title th:text="#{people.edit.title}"></title>
</head>
<body>
    <div layout:fragment="content">


        <p class="mt-5"></p>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3
                        class="card-title"
                        th:text="#{people.edit.title}"></h3>
                </div>
                <div class="card-body">



                    <!--        
        <form action="#"
            th:action="@{/identificationType/saveIdentificationType}"
            th:object="${identificationType}" method="post">   -->

                    <!-- th:action="@{/identificationType/showFormForAdd}" -->

                    <form
                        action="#"
                        th:object="${people}"
                        th:action="${flowExecutionUrl}"
                        method="post"
                        autocomplete="off">
                        <!-- 
        <form action="#" th:object="${identificationType}" method="post">
        -->

                        <!--    es agregado automaticamente por thymeleaf
        <input type="hidden" name="${_csrf.parameterName}"
                value="${_csrf.token}" />  -->

                        <!-- keep track of the id that is being updated -->
                        <!-- <input type="hidden" th:field="*{id}" /> -->

                        ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬This is a test¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬
                        <div class="form-group">

                            <label
                                for="identificationType"
                                th:text="#{people.entity.identificationType}">identificationType Date label:</label>


                            <select
                                id="identificationType"
                                th:field="*{identificationType}"
                                class=" custom-select form-control"
                                th:classappend="${#fields.hasErrors('*{identificationType}')} ? is-invalid">
                                <option
                                    th:each="type : ${selectableIdentificationTypes}"
                                    th:value="${type.id}"
                                    th:text="${type.name}"
                                    th:selected="${ type.name == people.identificationType }">IdentificationType</option>
                            </select>
                            <p
                                th:if="${#fields.hasErrors('identificationType')}"
                                th:errors="*{identificationType}"
                                class="invalid-feedback">identificationType Error</p>
                        </div>





                        <div class="form-group">

                            <label
                                for="identification"
                                th:text="#{people.entity.identification}">Identification label:</label>
                            <input
                                type="text"
                                th:field="*{identification}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('identification')} ? is-invalid"
                                id="email"
                                th:placeholder="#{people.entity.identification.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('identification')}"
                                th:errors="*{identification}"
                                class="invalid-feedback">identification Error</p>
                        </div>


                        <div class="form-group">

                            <label
                                for="name"
                                th:text="#{people.entity.name}">Name label:</label>
                            <input
                                type="text"
                                th:field="*{name}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                                id="name"
                                th:placeholder="#{people.entity.name.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}"
                                class="invalid-feedback">Name Error</p>

                        </div>
                        <div class="form-group">
                            <label
                                for="lastName"
                                th:text="#{people.entity.lastName}">Last Name label:</label>
                            <input
                                type="text"
                                th:field="*{lastName}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('lastName')} ? is-invalid"
                                id="mnemonic"
                                th:placeholder="#{people.entity.lastName.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('lastName')}"
                                th:errors="*{lastName}"
                                class="invalid-feedback">lastName Error</p>

                        </div>
                        <div class="form-group">
                            <label
                                for="email"
                                th:text="#{people.entity.email}">Email label:</label>
                            <input
                                type="text"
                                th:field="*{email}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('email')} ? is-invalid"
                                id="description"
                                th:placeholder="#{people.entity.email.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('email')}"
                                th:errors="*{email}"
                                class="invalid-feedback">email Error</p>

                        </div>


                        <div class="form-group">

                            <label
                                for="bornDate"
                                th:text="#{people.entity.bornDate}">Born Date label:</label>
                            <input
                                type="text"
                                th:field="*{bornDate}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('bornDate')} ? is-invalid"
                                id="bornDate"
                                th:placeholder="#{people.entity.bornDate.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('bornDate')}"
                                th:errors="*{bornDate}"
                                class="invalid-feedback">bornDate Error</p>
                        </div>

                        <div class="form-group">

                            <label
                                for="username"
                                th:text="#{people.entity.username}">Username:</label>
                            <input
                                type="text"
                                th:field="*{username}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('username')} ? is-invalid"
                                id="username"
                                th:placeholder="#{people.entity.username.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('username')}"
                                th:errors="*{username}"
                                class="invalid-feedback">username Error</p>
                        </div>

                        <!-- 
                        <div class="form-group">

                            <label
                                for="password"
                                th:text="#{people.entity.password}">Password label:</label>
                            <input
                                type="password"
                                th:field="*{password}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('password')} ? is-invalid"
                                id="password"
                                th:placeholder="#{people.entity.password.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('password')}"
                                th:errors="*{password}"
                                class="invalid-feedback">password Error</p>
                        </div>
 -->
                        <div class="form-group">

                            <label
                                for="enabled"
                                th:text="#{people.entity.enabled}">Enabled label:</label>


                            <select
                                id="identificationType"
                                th:field="*{enabled}"
                                class="custom-select">
                                <option
                                    th:value="Y"
                                    th:text="YES">IdentificationType</option>
                                <option
                                    th:value="N"
                                    th:text="NO">IdentificationType</option>
                            </select>


                            <p
                                th:if="${#fields.hasErrors('enabled')}"
                                th:errors="*{enabled}"
                                class="invalid-feedback">enabled Error</p>
                        </div>

                        <!-- 
                        <div class="form-group">

                            <label
                                for="groups"
                                th:text="#{people.entity.group}">group label:</label>


                            <select
                                id="groups"
                                th:field="*{groups}"
                                multiple="multiple"
                                class=" custom-select form-control"
                                th:classappend="${#fields.hasErrors('*{groups}')} ? is-invalid">

                                <option
                                    th:each="type : ${selectableGroup}"
                                    th:value="${type.id}"
                                    th:text="${type.name}"
                                    th:attr="selected=${people.groups.contains(type.name)==true}?'selected'">group</option>


                            </select>
                            <p
                                th:if="${#fields.hasErrors('groups')}"
                                th:errors="*{groups}"
                                class="invalid-feedback">group Error</p>
                        </div>
 -->

<!-- 
                        <div class="form-group" th:classappend="${#fields.hasErrors('*{groups}')} ? is-invalid" >
                            <label th:text="#{people.entity.group}" th:classappend="${#fields.hasErrors('*{groups}')} ? is-invalid">group label:</label>


                            <div
                                class="form-check"
                                th:each="type : ${selectableGroup}" th:classappend="${#fields.hasErrors('*{groups}')} ? is-invalid" >
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    th:field="*{groups}"
                                    th:value="${type.name}" 
                                    th:classappend="${#fields.hasErrors('*{groups}')} ? is-invalid" />
                                <label
                                    class="form-check-label"
                                    th:for="${type.id}"
                                    th:text="${type.name}"
                                    th:classappend="${#fields.hasErrors('*{groups}')} ? is-invalid" >Group</label>
                            </div>
                            <p
                                th:if="${#fields.hasErrors('groups')}"
                                th:errors="*{groups}"
                                class="invalid-feedback">group Error</p>

                        </div>

 -->



                        User hobbies (checkboxes):
                        <div th:each="type : ${selectableGroup}">
                            <input
                                type="checkbox"
                                th:id="${{type}}"
                                th:value="${{type}}"
                                th:field="*{groups}" />
                            <label
                                 th:for="${{type}}"
                                th:text="${type.name}">Cinema</label>
                        </div>



                        <div
                            th:if="${#fields.hasErrors('global')}"
                            class="alert alert-danger"
                            role="alert">
                            <ul th:if="${#fields.hasErrors('global')}">
                                <li
                                    th:each="err : ${#fields.errors('global')}"
                                    th:text="${err}">Input is incorrect</li>
                            </ul>
                        </div>
                        <input
                            id="editPerson"
                            class="btn btn-primary"
                            name="_eventId_save"
                            type="submit"
                            th:value="#{people.edit.save.button}"></input>

                        <input
                            id="cancelEditPerson"
                            class="btn btn-dark"
                            name="_eventId_cancel"
                            type="submit"
                            th:value="#{people.edit.cancel.button}"></input>


                    </form>
                    <!--  <div th:errors="${identificationType.*}">...</div> -->


                </div>
            </div>
        </div>


    </div>
</body>
</html>