<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
<head>
<title th:text="#{transactionType.edit.confirm.title}"></title>
</head>
<body>
    <div layout:fragment="content">


      

        <p class="mt-5"></p>



        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3
                        class="card-title"
                        th:text="#{transactionType.edit.confirm.title}"></h3>
                </div>
                <div class="card-body">

                    <form
                        action="#"
                        th:object="${transactionType}"
                        th:action="${flowExecutionUrl}"
                        method="post">


                        <div class="form-group row">
                            <label
                                for="name"
                                class="col-sm-3 col-form-label font-weight-bold"
                                th:text="#{transactionType.entity.name}">name</label>
                            <label
                                for="name"
                                class="col-sm-9 col-form-label"
                                th:text="*{name}">name</label>

                        </div>

                        <div class="form-group row">
                            <label
                                for="description"
                                class="col-sm-3 col-form-label font-weight-bold"
                                th:text="#{transactionType.entity.description}">lastName</label>
                            <label
                                for="description"
                                class="col-sm-9 col-form-label"
                                th:text="*{description}">lastName</label>

                        </div>

                        <div class="form-group row">
                            <label
                                for="entryType"
                                class="col-sm-3 col-form-label font-weight-bold"
                                th:text="#{transactionType.entity.entryType}">entryType</label>
                            <label
                                for="entryType"
                                class="col-sm-9 col-form-label"
                                th:text="*{entryType}">entryType</label>

                        </div>

                        <input
                            id="confirmEditPerson"
                            class="btn btn-primary"
                            name="_eventId_confirm"
                            type="submit"
                            th:value="#{people.edit.confirm.button.confirm}"></input>
                        <input
                            id="cancelEditPerson"
                            class="btn btn-dark"
                            name="_eventId_cancel"
                            type="submit"
                            th:value="#{people.edit.confirm.button.cancel}"></input>


                    </form>

                </div>
            </div>

        </div>







    </div>
</body>
</html>