<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">
<head>
<title th:text="#{identificationType.edit.title}"></title>
</head>
<body>
    <div layout:fragment="content">


        <p class="mt-5"></p>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3
                        class="card-title"
                        th:text="#{transactionType.edit.title}"></h3>
                </div>
                <div class="card-body">

                    <form
                        action="#"
                        th:object="${transactionType}"
                        th:action="${flowExecutionUrl}"
                        method="post"
                        autocomplete="off">
                     



                        <div class="form-group">

                            <label
                                for="name"
                                th:text="#{transactionType.entity.name}">Name label:</label>
                            <input
                                type="text"
                                th:field="*{name}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                                id="name"
                                th:placeholder="#{transactionType.entity.name.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('name')}"
                                th:errors="*{name}"
                                class="invalid-feedback">Name Error</p>

                        </div>
                        <div class="form-group">
                            <label
                                for="description"
                                th:text="#{transactionType.entity.description}">description label:</label>
                            <input
                                type="text"
                                th:field="*{description}"
                                class="form-control"
                                th:classappend="${#fields.hasErrors('description')} ? is-invalid"
                                id="description"
                                th:placeholder="#{transactionType.entity.description.placeholder}" />
                            <p
                                th:if="${#fields.hasErrors('description')}"
                                th:errors="*{description}"
                                class="invalid-feedback">description Error</p>

                        </div>


                        <div class="form-group">

                            <label
                                for="entryType"
                                th:text="#{transactionType.entity.entryType}">entryType:</label>
                            <select
                                id="entryType"
                                th:field="*{entryType}"
                                class="custom-select">
                                <option
                                    th:value="DEBIT"
                                    th:text="DEBIT">entryType</option>
                                <option
                                    th:value="CREDIT"
                                    th:text="CREDIT">entryType</option>
                            </select>


                            <p
                                th:if="${#fields.hasErrors('entryType')}"
                                th:errors="*{entryType}"
                                class="invalid-feedback">entry Error</p>
                        </div>

  
                        <div
                            th:if="${#fields.hasErrors('global')}"
                            class="alert alert-danger"
                            role="alert">
                            <ul th:if="${#fields.hasErrors('global')}">
                                <li
                                    th:each="err : ${#fields.errors('global')}"
                                    th:text="${err}">Input is incorrect</li>
                            </ul>
                        </div>
                        
                        
                        <input
                            id="editPerson"
                            class="btn btn-primary"
                            name="_eventId_save"
                            type="submit"
                            th:value="#{people.edit.save.button}"></input>

                        <input
                            id="cancelEditPerson"
                            class="btn btn-dark"
                            name="_eventId_cancel"
                            type="submit"
                            th:value="#{people.edit.cancel.button}"></input>


                    </form>



                    <script type="text/javascript">
																					$(function() {
																						console
																								.log('ttttttttt');
																						$(
																								'#bornDate')
																								.datepicker(
																										{
																											dateFormat : 'dd-mm-yy',
																											yearRange : '-120:+0',
																											changeMonth : true,
																											changeYear : true
																										});

																					});
																				</script>

                    <!--  <div th:errors="${identificationType.*}">...</div> -->


                </div>
            </div>
        </div>


    </div>
</body>
</html>